body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:280px;
  width:350px;
  height:160px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:160px;
}
#u1 {
  position:absolute;
  left:2px;
  top:72px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:287px;
  top:325px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:287px;
  top:360px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:241px;
  top:328px;
  width:36px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:234px;
  top:365px;
  width:42px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:268px;
  top:294px;
  width:234px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:392px;
  top:395px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:285px;
  top:395px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
