body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:40px;
  width:369px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:underline;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:42px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:240px;
  top:120px;
  width:200px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:660px;
  top:120px;
  width:200px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:450px;
  top:120px;
  width:200px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:124px;
  top:256px;
  width:190px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:30px;
  top:260px;
  width:88px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:30px;
  top:200px;
  width:84px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:30px;
  top:355px;
  width:100px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:124px;
  top:300px;
  width:190px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:77px;
  top:304px;
  width:38px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:30px;
  top:120px;
  width:200px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
