body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:160px;
  width:350px;
  height:200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:92px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:293px;
  top:205px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:293px;
  top:240px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:245px;
  top:208px;
  width:42px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:247px;
  top:245px;
  width:42px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:341px;
  top:177px;
  width:72px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:393px;
  top:310px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:293px;
  top:275px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:206px;
  top:280px;
  width:87px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:289px;
  top:310px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:450px;
  top:30px;
  width:200px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:870px;
  top:30px;
  width:200px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:660px;
  top:30px;
  width:200px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:240px;
  top:30px;
  width:200px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:30px;
  width:200px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
